* {
  padding: 0;
  margin: 0;
}


/* .metric-header {
  margin-top: 200px;
} */

h1 {
  color: white;
  padding-top: 25px;
}

#container {
  background:#6943ff;
  text-align: center;
  padding-bottom: 40px;
}

#container1 {
  background:#1f2937;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: -19px;


}

#input {
  width: 117px;
  height: 83px;
  text-align: center;
  font-size: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-clip: padding-box;
  background: #6943ff;
  font-weight: bold;
  color: white;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

#input-btn {
  margin-top: 40px;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

.container1 {
  
}
.metric_heading {
 border: 1px solid #273549;
  width: 400px;
   margin: 30px auto;
  padding: 40px 50px;
  background: #273549;
  border-radius: 5px;
}

h3 {
   color: #ccc1ff;
}

.length_txt, .volume_txt, .mass_txt {

  color: white;
  margin-top: 10px;
}
