* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  background: #1f2937;
}

/* .metric-header {
  margin-top: 200px;
} */

h1 {
  color: white;
  padding-top: 25px;
  font-size: 3rem;
}

#container {
  background: #6943ff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  height: 400px;
}

#container1 {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}

#input {
  width: 150px;
  height: 83px;
  text-align: center;
  font-size: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-clip: padding-box;
  background: #6943ff;
  font-weight: bold;
  color: white;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin: 30px;
}

#input-btn {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
  color: green;
}

.metric_heading {
  border: 1px solid #273549;
  width: 400px;
  margin: 30px auto;
  padding: 40px 50px;
  background: #273549;
  border-radius: 5px;
}

.output {
  width: 500px;
  text-align: center;
}

h3 {
  color: #ccc1ff;
  font-size: 2rem;
}

p {
  font-size: 30px;
}

.length_txt,
.volume_txt,
.mass_txt {
  color: white;
  margin: 15px;
}
